@import '~open-color/open-color';
.toplink {
	color: $oc-gray-3;
}
a {
	color: $oc-gray-2;
}

.navbar {
	margin-bottom: 10px;
	background-image: linear-gradient(to bottom, $oc-lime-7 0%, $oc-lime-3 100%);
	// background-color: $oc-lime-5;
}

.navbar-light .navbar-nav .nav-link {
	color: $oc-gray-2;
}

.navbar-light .navbar-text a {
	color: $oc-gray-2;
	&:hover {
		color: $oc-gray-2;
	}
	&:focus {
		color: $oc-gray-2;
	}
}

.navbar-light .navbar-brand {
	color: $oc-gray-2;
	font-weight: bold;
	&:hover {
		color: $oc-gray-2;
	}
	&:focus {
		color: $oc-gray-2;
	}
}